.thumbnail {
  width: 100%;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.viedo-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.profile-picture {
  width: 40px;
  border-radius: 50px;
}

.tumbnail-row {
  margin-bottom: 14px;
  position: relative;
}
.video-time {
  font-size: 12px;
  font-family: Roboto, Arial;
  font-weight: 500;
  background-color: black;
  color: white;
  padding: 3px 4px 3px 4px;
  border-radius: 3px;
  position: absolute;
  right: 5px;
  bottom: 10px;
}

.video-authour,
.video-status {
  color: rgb(96, 96, 96);
  font-size: 12px;
}

.video-authour {
  margin-bottom: 4px;
}
